<div class="news">
  <h2><u><b>Research interests</b></u></h2>
  <p>3D Computer vision; Robotic 3D perception; 3D deep learning and its applications in computer vision, life science and other disciplines.</p>

  <h2><u><b>Open positions</b></u></h2>
  <p>We have several open positions for <b>Postdocs, PhD students, Research assistants, Internships</b> (minimum 3 months) and <b>Visiting students</b>!! The salary and allowance are quite competitive! If you have interests, please send your CV to <a href="liupeidong@westlake.edu.cn">liupeidong@westlake.edu.cn</a>!</p>
</div>
