<div class="news">
  <h2>Research interests</h2>
  <p>Computer vision; Robotic 3D perception; Geometric deep learning and its applications in 3D computer vision, life science and other disciplines.</p>

  <h2>Open positions</h2>
  <p>We have several open positions for PhD students, Research assistants, Internships (minimum 3 months) and Visiting students!! The salary and allowance are quite competitive! If you have interests, please send your CV to <a href="liupeidong@westlake.edu.cn">liupeidong@westlake.edu.cn</a>!</p>
</div>
