<div class="news">
  <h2>Past students</h2>
    <ul>
      <li>Yuanhao Huang, “Self-Supervised Single Image Super-Resolution for Satellite Image”, Nov 2019-May 2020, Now Algorithm Engineer in MEGVII (旷视)</li>
      <li>Kailin Huang, "Dense Object SLAM", Apr 2018-Oct 2018, Now Computer Vision Engineer in FixPosition Inc, Zurich</li>
      <li>Andrei Barsan, "Robust Dense Mapping for Large-Scale Dynamic Environments", Feb 2017-Aug 2017, Now PhD student in University of Toronto</li>
      <li>Xinyuan Yu, "Stereo Camera Based Large-Scale Semantic Mapping", Dec 2016-Jun 2017, Now PhD student in National University of Singapore</li>
  </ul>
</div>
