<div class="students">
  <h2><u><b>Current group members</b></u></h2>
    <h4>Senior researchers:</h4>
    <ul>
      <li><a href="weidongxu@westlake.edu.cn">Dongxu Wei</a>: (Joined in June 2024) PhD from Zhejiang University</li>
    </ul>

    <h4>PhD students:</h4>  
    <ul>
      <li>Chengrui Dong: bachelor student from Northwestern Polytechnical University</li>
      <li>Yiming Chen: bachelor student from Tongji University</li>
      <li><a href = "mailto: zhaolingzhe@westlake.edu.cn">Lingzhe Zhao</a>: bachelor from Tongji University</li>
      <li><a href = "https://scholar.google.com/citations?user=0z2qluIAAAAJ&hl=zh-CN">Bangyan Liao</a> (2023 fall intake): bachelor from Hunan University</li>
      <li><a href = "mailto: wangpeng@westlake.edu.cn">Peng Wang</a> (2022 fall intake): bachelor and master from Huazhong Science and Technology University</li>
      <li><a href = "mailto: huangjian@westlake.edu.cn">Jian Huang</a> (2022 fall intake): bachelor and master from Xi'an Jiao Tong University</li>
      <li><a href = "mailto: lizhiqi@westlake.edu.cn">Zhiqi Li</a> (2022 fall intake): bachelor from Shanghai Jiao Tong University</li>
      <li><a href = "mailto: liyunhao@westlake.edu.cn">Yunhao Li</a> (2022 fall intake): bachelor from Xi'an Jiao Tong University, master from Northwestern University (US)</li>
    </ul>

    <h4>Research assistants:</h4>
    <ul>
      <li><a href = "mailto: maruijie@westlake.edu.cn">Ruijie Ma</a>: bachelor and master from Xidian University</li>
      <li>Wenpu Li: bachelor student from Guangdong University of Technology</li>
    </ul>

    <h4>Internships and visiting students:</h4>
    <ul>
      <li>Hao Li: bachelor student from Shandong University</li>
      <li>Shucheng Gong: Master student from Wuhan University</li>
      <li>Xiang Liu: Master student from ETH Zurich</li>
    </ul>
  
  <h2><u><b>Past students</b></u></h2>
    <ul>
      <li>Zhenjun Zhao: Researcher in Zhejiang Lab.</li>
      <li>Pian Wan: Master student in EPFL</li>
      <li>Moyang Li</a>: Master student in ETH Zurich</li>
      <li>Jing Wu: Internship student from Imperial College, May 2023 - Sep 2023, Now PhD student in University of Oxford</li>
      <li>Xingyi Chen: Research assistant from Tongji University, 2022-2023, Now in Hongkong University</li>
      <li>Ruichen Bao: Internship from Zhejiang University (2022 Summer)</li>
      <li>Yuanhao Huang, “Self-Supervised Single Image Super-Resolution for Satellite Image”, Nov 2019-May 2020, Now Algorithm Engineer in MEGVII (旷视)</li>
      <li>Kailin Huang, "Dense Object SLAM", Apr 2018-Oct 2018, Now Computer Vision Engineer in FixPosition Inc, Zurich</li>
      <li>Andrei Barsan, "Robust Dense Mapping for Large-Scale Dynamic Environments", Feb 2017-Aug 2017, Now PhD student in University of Toronto</li>
      <li>Xinyuan Yu, "Stereo Camera Based Large-Scale Semantic Mapping", Dec 2016-Jun 2017, Now PhD student in National University of Singapore</li>
  </ul>
</div>
