<div class="students">
  <h2><u><b>Current group members</b></u></h2>
    <h4>PhD students:</h4>  
    <ul>
      <li><a href = "mailto: wangpeng@westlake.edu.cn">Peng Wang</a> (2022 fall intake): bachelor and master from Huazhong Science and Technology University</li>
      <li><a href = "mailto: huangjian@westlake.edu.cn">Jian Huang</a> (2022 fall intake): bachelor and master from Xi'an Jiao Tong University</li>
      <li><a href = "mailto: lizhiqi@westlake.edu.cn">Zhiqi Li</a> (2022 fall intake): bachelor from Shanghai Jiao Tong University</li>
      <li><a href = "mailto: liyunhao@westlake.edu.cn">Yunhao Li</a> (2022 fall intake): bachelor from Xi'an Jiao Tong University, master from Northwestern University (US)</li>
    </ul>

    <h4>Research assistants:</h4>
    <ul>
      <li><a href = "mailto: maruijie@westlake.edu.cn">Ruijie Ma</a>: bachelor and master from Xidian University</li>
      <li><a href = "mailto: zhaolingzhe@westlake.edu.cn">Lingzhe Zhao</a>: bachelor from Tongji University</li>
      <li><a href = "mailto: chenxingyi@westlake.edu.cn">Xingyi Chen</a>: bachelor from Tongji University</li>
    </ul>

    <h4>Internships and visiting students:</h4>
    <ul>
      <li>Jing Wu: bachelor from University of Electronic Science and Technology of China, and master from Imperial College London</li>
      <li><a href = "mailto: limoyang@westlake.edu.cn">Moyang Li</a>: bachelor from Huazhong Science and Technology University</li>
      <li>Yiming Chen: bachelor student from Tongji University</li>
    </ul>
  
  <h2><u><b>Past students</b></u></h2>
    <ul>
      <li>Ruichen Bao: Internship from Zhejiang University (2022 Summer)</li>
      <li>Yuanhao Huang, “Self-Supervised Single Image Super-Resolution for Satellite Image”, Nov 2019-May 2020, Now Algorithm Engineer in MEGVII (旷视)</li>
      <li>Kailin Huang, "Dense Object SLAM", Apr 2018-Oct 2018, Now Computer Vision Engineer in FixPosition Inc, Zurich</li>
      <li>Andrei Barsan, "Robust Dense Mapping for Large-Scale Dynamic Environments", Feb 2017-Aug 2017, Now PhD student in University of Toronto</li>
      <li>Xinyuan Yu, "Stereo Camera Based Large-Scale Semantic Mapping", Dec 2016-Jun 2017, Now PhD student in National University of Singapore</li>
  </ul>
</div>
