---
layout: default
---

<div class="post">

  <div class="clearfix float-my-children">
    <img src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}" width=225>

    <div>
    <h1 class="post-title">
     {% if site.title == "blank" %}
     <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}
     {% endif %}
    </h1>
     <p class="desc">{{ page.description }}</p>
   </div>
  </div>

  <article>
    <div class="about">
      <h2>About</h2>
      {{ content }}
    </div>

    {% include openings.html %}

    {% if page.news %}
      {% include news.html %}
    {% endif %}
    
    {% if page.students %}
      {% include students.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
