<!DOCTYPE html>
<html>

  <head>
    {% if page.redirect %}<meta http-equiv="refresh" content="3; url={{ site.baseurl | prepend: site.url }}/" />{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    {% include head.html %}
    {% include scripts/mathjax.html %}
  </head>

  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    <!-- Content -->

    <div class="container">
      {{ content }}
    </div>

    <!-- Footer -->

    <!-- {% include footer.html %} -->

  </body>

  {% include scripts/bootstrap.html %}
  {% include scripts/mansory.html %}
  {% include scripts/misc.html %}

</html>
